html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', Helvetica, sans-serif;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
* { /*not sure if i need this but I'll keep it*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
h1,h2,h3,h4,h5,h6 {
  font-size: 1em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { /*block 1 and footer*/
	font-size: 3em;
  padding: 0;
  margin: 0;
}
h2 { /*"upgrade" and portfolio section on main*/
	font-size: 2em;
  padding: 0;
  margin: 0;
}
h3 { /* flexbox in index, site names in port, footer "interested" */
	font-size: 1em;
  padding: 0;
  margin: 0;
}
h4 { /*none*/
	font-size: .7em;
  padding: 0;
  margin: 0;
}

button {
	padding: 10px 15px;
	background-color: white;
	border: none;
}button:hover {
	padding: 10px 15px;
	background-color: blue;
}

.block1 {
	background-image: url("../img/office-925806_1920.jpg");
	background-position: center; 
	min-height: 520px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}.block1 a {
  margin-left: 30px;
}.block1 div {
	color: #ffffff;
	background: rgba(0, 0, 0, 0.5);
	width: 50%;
	min-height: 520px; 
	padding: 30px 7%;
}.block1 p {
	font-size: 1.4em;
}.block1 div a {
  color: white;
  margin-left: 0px;
}

.port-link { /*see port-intro below for port link*/
  float: right;
  color: black;
  border: solid 1px;
  padding: 10px;
  background-color: white;

  margin-top: 20px;
  margin-right: 20px;
}

.block2 { /*upgrade*/
  text-align: center;
  //font-family: 'DM Serif Display';
  padding-top: 30px;
  font-size: 1.2em;
}

.block3 { /*flexboxes*/
  margin: 30px 0;
}

.block4 { /*portfolio on home*/
  padding: 3em;
  background-image: url("../img/IMG_3087-EFFECTS.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.block4-inner {
  margin: 0em 4em;
  padding: 50px 60px 80px;
  background: rgba(255, 255, 255, 0.9);
}.block4 a {
  border: solid 1px;
  padding: 15px;
  color: white;
  background-color: #2F2E2E;
  font-style: italic;
}

.block5 {
  background-color: #FFEF98;
  margin: 0px;
  padding: 80px;
}

footer{
  background-color: #2F2E2E;
  background-color: #EEDE98;
  text-align: center;
} footer h3 {
  padding-bottom: 30px;
}footer h1 {
  color: white;
  border: solid black 1px;
  padding: 30px;
  width: 40%;
  margin: auto;
  background-color: #2F2E2E;
}footer h1:hover {
  background-color: white;
  color: black;
}footer p {
  color: #2F2E2E;
  font-size: .7em;
  margin: 0px;
  padding: 5px;
}footer a {
  text-decoration: none;
  color: white;
}

.port-intro {
  padding: 0 2em;
  background-image: url("../img/wheat-3506758_1920.jpg");
  min-height: 0px;
  color: black;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}.port-intro a {
  //color: black;
  //border: solid 1px;
  //padding: 10px;
  //background-color: white;
}.port-fill {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 7%;
}.port-fill p {
  font-size: 1.4em;
}

.sites {
  background-color: #E9EBFF;
  border-top: solid 1px #22AAAA;
  border-bottom: solid 1px #22AAAA;
  padding: .2em 0;
}

.wrap {
  display: flex;
  padding: 0em 1.8em;
}

.item {
  flex: 1;
  background-color: #D9DBF1;
  padding: 1em;
  margin: 1em;
  border: solid 1px;
}.item h2 {
  text-align: center;
} a.item {
  color: black;
}

.block3 .item {
  margin: 0 1em;
  padding: 1.8em;
}

.port {
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 1.2em;
  padding: 21px;
} .port:hover {
  background-color: #FFEF98;
  border: 1px solid black;
  padding: 20px;
}

.port-img {
  width: 100%;
  border: solid 1px;
  margin-top: 17px;
}

.price {
  width: 760px;
  margin: 40px auto;
}

.black {
  color: white;
  border: solid 1px;
  padding: 10px;
  background-color: black;
  text-decoration: none;
}.black:hover {
  color: black;
  background-color: white;
}

.white {
  color: black;
  border: solid 1px;
  padding: 10px;
  background-color: white;
  text-decoration: none;
}.white:hover {
  color: white;
  background-color: black;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix::before,.clearfix::after{content:" ";display: table;}.clearfix::after{clear:both;}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 980px) {
  .block1 {
    min-height: 20px;
  }
  .block1 div {
    width: 100%;
    min-height: 20px;
  }
  .wrap {
    display: block;
    padding: 20px;
    margin: 0px;
    width: 100%;
  }
  .item {
    display: block;
    //width: 100%;
  }
  .block3 .item {
    margin: 0px 0px 20px 0px;
    padding: 20px;
}
  .block4-inner {
    margin: 0em;
  }
  .block5 a h1 {
    width: 100%;
  }
  .port-intro {
    padding: 0px;
  }
  .price {
    width: auto;
    margin: 40px 20px;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print{*,::after,::before{background:#fff!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]::after{content:" (" attr(href) ")"}abbr[title]::after{content:" (" attr(title) ")"}pre{white-space:pre-wrap!important}blockquote,pre{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}